.indice{
    text-align:justify;
    color: #212F3C;
    p{
        text-indent: 30px;
    }
    a{
        text-decoration:none;
        color: #191970;
        text-shadow: 0.5px 0.5px 1px #353935;
    }
    h5, h6{
        text-align:justify;
    }
    button{
        text-decoration:none;
        color: #191970;
        text-shadow: 0.5px 0.5px 1px #353935;
    }
}

.excluidos{
    a{
        color: #C41E3A !important;
        text-shadow: 0.2px 0.2px 0.5px 	#913831;
    }
}

.navform{
    padding:10px;
    font-size:70%;
}