body{
    font-size: 0.9rem;
    background-image: linear-gradient(137deg, #848884, gray, rgb(190, 190, 190), lightgray, silver, rgb(179,179,179), rgb(190, 190, 190), lightgray, silver, rgb(179,179,179), rgb(190, 190, 190), lightgray, silver, rgb(179,179,179), rgb(190, 190, 190), lightgray, silver, rgb(179,179,179), gray, #848884);
    text-align:justify;
    color: #36454F;
    text-shadow: 0.5px 0.5px 0.5px #7393B3;
    p{
        text-indent:50px;
    }
}

h1, h2, h3, h4, h5, h6{
    text-align:center;
    color: #36454F;
    text-shadow: 0.5px 0.5px 2px #FAF9F6;
    font-weight: 700;
    margin-bottom:2%;
}

span{
    font-weight: 700;
    font-size: 101%;
    color: #212F3C;
}

cite{
    font-size: 90%;
}

p{
    text-align:justify;
}

table{
    margin:auto;
    margin-top:30px;
    margin-bottom:30px;
    border: 1px solid #1B1212;
    th{
        background-color:#1B1212;
        color:white;
        padding:2px;
        text-align:center;
    }
    td{
        border: 1px solid #1B1212;
        padding:5px;
        background-color: #FAF9F6;
    }
}