#evl-apv-tot{
    height: 400px;
    width: 1400px;
    margin-right:0;
    margin-left: -150px;
    margin-top:-50px;
    margin-bottom:30px;

}

#medias{
    height: 500px;
    width: 1100px;
    margin:0;
    margin-bottom: 10px;
    margin-top:10px;
    padding:0;
    padding-top:10px;
    padding-bottom:10px;
}

#porc-aval{
    width:1000px;
    height:600px;
    margin:0;
    margin-top:-60px
}

#aval_cumul{
    width: 1000px; 
    height: 400px; 
    margin:auto; 
    margin-top:-50px
}

#aval_abs{
    width: 1000px; 
    height: 400px; 
    margin:auto; 
    margin-top:-50px
}

#evol_aprov{
    width: 1250px; 
    height: 400px;
    margin:auto;
    margin-top:-50px;
    margin-left:-100px;
}

#chart_id{
    width:600px;
    height:300px;
    //margin-left:-100px
}

#chart_id2{
    width:600px;
    height:300px;
    //margin-left:-50px
}

#serv_aval_cumul{
    width:600px;
    height:300px;
    //margin-left:-100px
}

#serv_aval_cumul2{
    width:600px;
    height:300px;
    //margin-left:-50px
}